---
layout: default
title: Arrian Purcell

---

<h3 id="content-title">{{site.posts.first.title}}</h3>
<p id="content-tags">    {% for tag in site.posts.first.tags %}
<a href="/tags.html">[ {{ tag }} ]</a>
{% endfor %}</p>
<p id="content-date">{{site.posts.first.date | date: "%-d %B %Y"}}</p>

<div id="content-body">
	{{site.posts.first.content}}
</div>
<div id="content-link-container">
    <div class="content-link content-previous"> 
    {% if site.posts.first.previous.url %} 
            <a href="{{site.posts.first.previous.url}}">&#10094; {{site.posts.first.previous.title}}</a> 
    {% endif %} 
    </div> 

    <div class="content-link content-next"> 
    {% if site.posts.first.next.url %} 
            <a href="{{site.posts.first.next.url}}">{{site.posts.first.next.title}} &#10095;</a> 
    {% endif %} 
    </div> 
</div>


