      <div class="comments-arrow-container"><div class="comments-arrow"></div></div>

  <div class="comments">
    <div id="disqus_thread">
      <script type="text/javascript">
          var disqus_shortname = 'arrian'; // Required - Replace example with your forum shortname
          var disqus_identifier = '{{post.url}}';
          var disqus_title = '{{post.title}}';
          var disqus_url = 'http://arrian.github.io{{post.url}}';

          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
    </div>
</div>