



<div class="footer-grid-r">
			    <div class="footer-column footer-column-1-3">
			    	<div class="footer-column-content">
			    		<h4>Tags</h4>
						{% for tag in site.tags %}
						<a  class="tag" href="">{{ tag | first }} x {{ tag[1].size }}</a>
						{% endfor %}
					</div>
			    </div>
			    <div class="footer-column footer-column-1-3">
			    	<div id="footer-column-content-centre" class="footer-column-content">
			    		<h4>Recent Posts</h4>
						{% for post in site.posts %}
						<a class="tag" href="{{post.url}}">{{post.title}}</a><br />
						{% endfor %}
					</div>
			    </div>
			    <div class="footer-column footer-column-1-3">
			    	<div class="footer-column-content">
			    		<h4>Recent Commits</h4>
				    </div>
			    </div>
		    </div>



		    



#footer
{
  min-height: 400px;
  width: 100%;
  background-color: white;/*#151515;*/
  color: black;
}

.footer-column {
  height: 400px;
}

#footer-column-content-centre {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0px 20px;
}

.footer-column-content {
  margin: 20px;
  height: 350px;
}






.footer-grid {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    *word-spacing: -0.43em;
    text-rendering: optimizespeed;
}

.opera-only :-o-prefocus,
.footer-grid {
    word-spacing: -0.43em;
}


.footer-column {
    display: inline-block;
    zoom: 1; *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}


.footer-column-1,.footer-column-1-2,.footer-column-1-3,.footer-column-2-3 {
    display: inline-block;
    zoom: 1; *display: inline; 
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}



.footer-column-1 {
    display:block;
}




    
    
        .footer-column-1-2 {
            width: 50%;
        }

        .footer-offset-1-2 {
            margin-left: 50%;
        }
    
        .footer-column-1-3 {
            width: 33.33333%;
        }

        .footer-offset-1-3 {
            margin-left: 33.33333%;
        }
    
        .footer-column-2-3 {
            width: 66.66667%;
        }

        .footer-offset-2-3 {
            margin-left: 66.66667%;
        }
    





    
    .footer-grid-r {
        letter-spacing: -0.31em; 
        *letter-spacing: normal; 
        word-spacing: -0.43em; 
    }


    .opera-only :-o-prefocus,
    .footer-grid-r {
        word-spacing: -0.43em;
    }


    .footer-grid-r img {
        max-width: 100%;
    }

    
    

    
        @media (max-width:700px) {
            .footer-grid-r > [class ^= "footer-column"] {
                width:100%;
            }
        }
    

    
        @media (max-width:700px) {

            .footer-grid-r > [class ^= "footer-column"] {
                width:100%;
            }            
            .footer-visible-phone     { } 
            .footer-hidden-phone      { display: none; }
            .footer-hidden-desktop    { }
            .footer-visible-desktop   { display: none; }
        }
    

    
