<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/monokai.css">
    <script src="/javascripts/respond.js"></script>
  </head>
  <body>
    <div id="header">
      <div id="header-inner">
      <span id="header-title">
        <a href="/">Arrian Purcell</a>
      </span>
      <span id="header-links">
        <a href="/projects.html">Projects</a>
        <a href="/">Blog</a>
        <a href="/about.html">About</a>
      </span>
      <span id="header-social">
        <a href="http://github.com/arrian" id="header-social-github"></a>
        <a href="https://twitter.com/7simplex" id="header-social-twitter"></a>
        <a href="http://www.youtube.com/user/ArrianPurcell" id="header-social-youtube"></a>
        <a href="http://lnkd.in/bqJpxrM" id="header-social-linkedin"></a>
      </span>
      </div>
    </div>
    <div id="content">