<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/monokai.css">
    <script src="/javascripts/respond.js"></script>
  </head>
  <body>
    <div id="header">
      <a id="header-title" href="/">Arrian Purcell</a>
      <div id="header-links">
        <a href="/projects.html" class="header-link">Projects</a>
        <a href="/blog.html" class="header-link">Blog</a>
        <a href="/about.html" class="header-link">About</a>
        <a href="http://github.com/arrian" class="header-social"><img src="/images/github.png" style="width: 25px; height: 25px;"/></a>
        <a href="#" class="header-social"><img src="/images/soundcloud.png" style="width: 25px; height: 25px;"/></a>
        <a href="#" class="header-social"><img src="/images/youtube.png" style="width: 25px; height: 25px;"/></a>
        <a href="#" class="header-social"><img src="/images/twitter.png" style="width: 25px; height: 25px;"/></a>
      </div>
    </div>
    <div id="content">