<!doctype html>
<html>
  <head>
    <meta charset="utf-8"> 
    <title>{{page.title}}</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://arrian.github.com/stylesheets/styles.css">
    <link rel="stylesheet" href="http://arrian.github.com/stylesheets/syntax.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascripts/respond.js"></script>
  </head>
  <body>
    <div id="header">
      <a id="header-title" href="http://arrian.github.io">Arrian Purcell</a>
      <div id="header-links">
        <a href="extempore.html" class="header-link">Extempore</a>
        <a href="blog.html" class="header-link">Blog</a>
        <a href="about.html" class="header-link">About</a>
      </div>
    </div>
    <div id="content">