
@font-face {
font-family: Iconsolata;
src: url("/fonts/Inconsolata.otf") format("opentype");
}

html
{
  padding: 0px;
  margin: 0px;
  height: 100%;
}

body
{
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  min-width: 650px;
  min-height: 100%;
  background-image: url('../images/sky.jpg');
  background-color: rgb(111, 184, 252);
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6
{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

::selection 
{
  background: rgba(90,79,79,0.5);  
}

::-moz-selection 
{
  background: rgba(90,79,79,0.5);
}

.divider
{
  margin-top:70px;
  margin-bottom:50px;
  color: #95969b;
  background-color: #95969b;
  height: 1px;
}

#header
{
  table-layout: auto;
  display: table;
  vertical-align: middle;
  background-color: #151515;
  padding-top: 20px;
  padding-bottom: 20px;
  width:100%;
}

#header-inner
{
  width:calc(75% + 80px);
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
}

#header-title
{
  display: table-cell;
  width: 100%;
}

#header-title a
{
  font-weight: 100;
  font-size: 200%;
  color: #95969b;
  text-decoration: none;
  transition: color 300ms linear;
}

#header-title a:hover
{
  color: white;
  transition: color 100ms linear;
}

#header-links
{
  display: table-cell;
  vertical-align: middle;
  white-space:nowrap;
  padding-right: 20px;
}

#header-links a
{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 100%;
  padding: 10px;
}

#header-links a:link
{
  text-decoration: none;
  color: #95969b;
  transition: color 100ms linear;
}

#header-links a:visited
{
  text-decoration: none;
  color: #95969b;
  transition: color 100ms linear;
}

#header-links a:hover
{
  text-decoration: none;
  color: white;
  transition: color 100ms linear;
}

#header-social
{
  display: table-cell;
  white-space:nowrap;
}

#header-social a
{
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  display: inline-block;
  transition: background-image 100ms ease-in-out;
}

#header-social-github
{
  background-image: url(/images/round/github-gray.png);
}

#header-social-github:hover
{
  background-image: url(/images/round/github.png); 
}

#header-social-twitter
{
  background-image: url(/images/round/twitter-gray.png);
}

#header-social-twitter:hover
{
  background-image: url(/images/round/twitter.png); 
}

#header-social-youtube
{
  background-image: url(/images/round/youtube-gray.png);
}

#header-social-youtube:hover
{
  background-image: url(/images/round/youtube.png); 
}

#header-social-linkedin
{
  background-image: url(/images/round/linkedin-gray.png);
}

#header-social-linkedin:hover
{
  background-image: url(/images/round/linkedin.png); 
}

#content
{
  padding-bottom: 100px;
}

#content-title
{
  margin: 0px;
  padding-top: 150px;
  text-align: center;
  color: white;
  font-size: 200%;
  font-weight: 300;
}

#content-date
{
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
  font-size: 120%;
  text-align:center;
  color:white;
}

#content-link-container
{
  padding-top: 50px;
  width: 80%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.content-previous
{
  float: left;
}

.content-next
{
  float: right;
}

.content-link a
{
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
  font-size: 120%;
  text-align:center;
  color:white;
  text-decoration: none;
}

.content-link a:hover
{
  text-decoration: underline;
}

#content-tags
{
  text-align:center;
}

#content-tags a
{
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  font-size: 90%;
  color:#ddd;
  text-decoration: none;
  padding: 5px;
}

#content-tags a:hover
{
  text-decoration: underline;
}


#content-body
{
  margin-top: 70px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 40px 40px 40px;
  width: 75%;
  max-width: 1000px;
  background-color: rgba(250,250,250,0.95);

  border-radius: 1px;
}

pre code
{
  box-shadow: none;
  padding: 0px;
  background-color: transparent;
  border: none;
}

code, pre
{
  font-family: 'Inconsolata', monospace;
  padding: 3px;
  border-radius: 3px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgba(0,0,0,0.2);
}

pre 
{
  border-radius: 0px;
  color:#333344;
  background:#252525;
  font-family:monospace;
  overflow:auto;
  padding:15px;
}

.tag
{
  margin:1px;
  font-size: 13px;
  text-decoration: none;
  display: inline;
  padding: 3px;
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgb(240, 240, 240);
  color: #222;
  display: inline-block;
  transition: background-color 50ms linear;
}

.tag-colour-bar 
{
  background-color: red;
  width: 10px;
  height: 10px;
}

.tag:link
{
  text-decoration: none;
}

.tag:hover
{
  text-decoration: none;
  background-color: #ddd;
  transition: background-color 50ms linear;
}

.section {
  clear: both;
  padding: 0px;
  margin: 0px;
  color: white;
}

.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
  border: 1px solid white;
}

.comments-arrow-container {
  margin-right: auto;
  margin-left: auto;
  width: 65%;
  max-width: 900px;
}
.comments-arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}

.extras-link {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  text-decoration: none;
}

.extras-link:hover {
  background-color: #ddd;
}

.comments {
  padding: 40px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  width: 75%;
  max-width: 1000px;
  background-color: white;
}

