:root {
  --black: #242424;
  --cyan: #2BAFD7;
  --magenta: #FF83A7;
  --yellow: #FBE474;
  --neutral: #F1EADB;
  --neutral-dark: #45423d;
  --neutral-medium: #615d55;
  --font: 'Futura';
  
  --font-size: 1rem;
  --font-size-10: calc(0.65 * var(--font-size));
  --font-size-12: calc(0.75 * var(--font-size));
  --font-size-14: calc(0.875 * var(--font-size));
  --font-size-16: var(--font-size);
  --font-size-20: calc(1.25 * var(--font-size));
  --font-size-24: calc(1.5 * var(--font-size));
  --font-size-32: calc(2 * var(--font-size));
  --font-size-48: calc(3 * var(--font-size));
  --font-size-76: calc(4 * var(--font-size));
  --font-size-96: calc(5 * var(--font-size));

  --bold: 600;
  
  --space: 4px;
  --space-1: calc(var(--space) * 1);
  --space-2: calc(var(--space) * 2);
  --space-3: calc(var(--space) * 3);
  --space-4: calc(var(--space) * 4);
  --space-5: calc(var(--space) * 5);
  --space-6: calc(var(--space) * 6);
  --space-8: calc(var(--space) * 8);
  --space-10: calc(var(--space) * 10);
  --space-12: calc(var(--space) * 12);
  --space-14: calc(var(--space) * 14);
  --space-20: calc(var(--space) * 20);
  
  --space-30: calc(var(--space) * 30);
  --space-40: calc(var(--space) * 40);
  
  --box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.04);
  
  --accent: var(--black);
  --background: var(--neutral);
  --text-color: var(--black);
  --text-inverted-color: var(--neutral);
  
  --header-height: 220px;
  --last-name-margin: 0.8em;
  --section-percent: 0;
}

ul {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 749px) {
  :root {
    --font-size: 0.85rem;
  }
}

@media screen and (max-width: 499px) {
  :root {
    --font-size: 0.8rem;
  }
}

h1 {
  padding: 0;
  margin: 0;
}

h2, h3, h4, h5, h6 {
  display: inline-flex;
  align-items: center;
  gap: var(--space-2);
  padding: var(--space-1) var(--space-3);
  text-align: left;
  transition: background-color 300ms ease-out, color 300ms ease-out, opacity 300ms ease-out;
  font-weight: normal;
  background-color: var(--accent);
  color: var(--text-inverted-color);
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5, a:hover h6 {
  opacity: 0.6;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100vw;
  font-size: var(--font-size);
}

body {
  display: flex;
  flex-direction: column;
}
