{% include header.html %}

<div id="content">
  <h3 id="content-title">{{page.title}}</h3>
  <p id="content-date">{{page.date | date: "%-d %B %Y"}}</p>

  <div id="content-body">
    {% for tag in page.tags %}
    <a  class="tag" href="http://arrian.github.io/tags.html">{{ tag }}</a>
    {% endfor %}
    {{content}}
    <div class="divider"></div>
    <div id="disqus_thread">
      <script type="text/javascript">
          var disqus_shortname = 'arrian'; // Required - Replace example with your forum shortname
          var disqus_identifier = '{{post.url}}';
          var disqus_title = '{{post.title}}';
          var disqus_url = 'http://arrian.github.io{{post.url}}';

          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
    </div>
    </div>
</div>

{% include footer.html %}